.App {
  text-align: center;
}
.content{
  display: flex;
  justify-content: space-around;
  margin: 20px 7%;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(129, 99, 201);
}
#inputField{
  width: 70%;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
  padding: 5px;
}